<?js
    var data = obj;
    var self = this;
	var module = self.current.module;
    data.forEach(function(name, i) {
	var longname = name;
	var findObj = self.find({name: name})[0];
	if (findObj) {
	longname = findObj.longname;
	}
	?>
<span class="param-type"><?js= self.linkto(longname, self.htmlsafe(name)) ?></span>
<?js if (i < data.length-1) { ?>|<?js } ?>
<?js }); ?>